@import '../../mixins.scss';
.content-box {
	display: flex;
	flex-wrap: wrap;
}

.content-box__image {
	background: url(./images/logo_beer.png) 100% 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 200px;
}

.content-box__content {
	background-color: #7F7F7F;
	min-height: 100px;
	word-wrap: break-word;
	padding: 0.5em;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.content-box__element {
	margin: 20px;
	box-shadow: 2px 2px 10px 0px rgba(135, 124, 135, 1);
	border-radius: 10px;
	width: 80%;
	margin: 10px auto;
	border-radius: 10px;
}

.content-box__main {
	width: 25%;
}

.content-box__title {
	color: #fff;
	font-size: 1.5em;
	text-align: center;
}

.content-box__description {
	color: #D0D0D0;
	text-align: justify;
}

.content-box__button {
	display: flex;
	color: #fff;
	a {
		color: #fff;
		text-align: center;
		text-decoration: none;
	}
}

.content-box__open {
	color: #fff;
	text-align: center;
	box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.6);
	padding: 0.2em 1em;
	margin: 0.3em;
	border-radius: 3px;
	text-decoration: none;
	cursor: pointer;
}

.content-box__favorite {
	text-align: center;
	box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.6);
	padding: 0.2em 1em;
	margin: 0.3em;
	border-radius: 3px;
	cursor: pointer;
}

@include tv-wide() {
	.content-box__main {
		width: 10%;
	}
	.content-box__element {
		width: 90%;
	}
}

@include tv() {
	.content-box__main {
		width: 16.6%;
	}
	.content-box__element {
		width: 90%;
	}
}

@include desktops-wide() {
	.content-box__main {
		width: 20%;
	}
	.content-box__element {
		width: 90%;
	}
}

@include desktops() {
	.content-box__main {
		width: 25%;
	}
	.content-box__element {
		width: 90%;
	}
}

@include tablets() {
	.content-box__main {
		width: 33.3%;
	}
	.content-box__element {
		width: 90%;
	}
}

@include landscape-phone() {
	.content-box__main {
		width: 50%;
	}
}

@include portrait-phone() {
	.content-box__main {
		width: 100%;
	}
	.content-box__element {
		width: 80%;
	}
}