@import '../../mixins.scss';
.header-slide {
    position: fixed;
    overflow: hidden;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 1s ease, height 2s ease, box-shadow 2s ease;
}

.header-slide--open {
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: auto;
    transform: translateX(0%);
    transition: transform 1s ease, box-shadow 1s ease;
    box-shadow: 0px 0px 0px 2px #919191;
}

.header-slide__content {
    height: 100%;
    width: 100%;
}

.header-slide__home,
.header-slide__favorite {
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
        color: #616161;
        font-size: 1.2em;
    }
    div {
        display: flex;
        align-items: center;
    }
}

.header-slide__items {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    a {
        text-decoration: none;
    }
    img {
        height: 2em;
        width: 2em;
        margin-right: 1em;
    }
}

.header-slide__i {
    display: flex;
    margin: 1em 9em 0 2em;
}

.header-slide__header {
    background: #106CC8;
    height: 10%;
}

.header-slide__name {
    color: #fff;
    font-size: 1.5em;
}

.header-slide__icon-close {
    height: 1.5em;
    width: 1.5em;
    position: absolute;
    right: 0.7em;
    top: 1.2em;
    z-index: 0;
}

.header-slide__body {
    background: #fff;
    height: 100%;
}