@import '../../mixins.scss';
.page-info__header-section {
    display: flex;
}

.page-info__info {
    padding: 2%;
}

.page-info__header--left {
    width: 80%;
}

.page-info__header--right {
    background: url(./images/logo_beer.png) 100% 100% no-repeat;
    background-position: center;
    background-size: contain;
    width: 20%;
}

.page-info__title {
    box-sizing: border-box;
    font-size: 5em;
}

.page-info__mini-description {
    color: #747474;
    font-size: 2em;
    word-break: break-word;
}

.page-info__button {
    padding: 1%;
    color: #fff;
    font-size: 1.3em;
    background: #106cc8;
    display: inline-block;
    margin: 1%;
    margin-left: 0;
}

.page-info__header--clear {
    width: 20%;
}

.page-info__stat--left {
    display: flex;
    flex-direction: column;
}

.page-info__stat-title {
    font-size: 3em;
}

.page-info__values {
    width: 80%;
}

.page-info__item {
    display: flex;
    border: 1px solid #d3d3d3;
    padding: 3%;
    font-size: 1.2em;
}

.page-info__item--title {
    font-weight: 550;
    align-self: center;
}

.page-info__item--info {
    margin-left: 2%;
}

.page-info__item--value {
    align-self: center;
    background: #9E9E9E;
    border-radius: px;
    padding: 0.2em 0.4em;
    color: #fff;
    font-weight: 550;
    letter-spacing: 0.05em;
    margin-left: auto;
}

.page-info__block {
    display: flex;
}

.page-info__main-info {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.page-info__interval1,
.page-info__interval2 {
    flex-grow: 1;
    margin: 1.5em;
}

.page-info__additional-info {
    width: 80%;
}

.page-info__description {
    text-align: justify;
    margin: 10px 0;
}

.page-info__description-preparation {
    display: flex;
    flex-wrap: wrap;
}

.page-info__ingredients,
.page-info__method {
    flex-grow: 1;
    margin: 1.5em;
}

.page-info__info-ingredients {
    p,
    h3 {
        margin: 0;
    }
    border: 1px solid #d3d3d3;
    padding:1em;
}

.page-info__info-method {
    p,
    h3 {
        margin: 0;
    }
    padding:1em;
}

@include desktops() {
    .page-info__header--left {
        width: 100%;
    }
    .page-info__header--right {
        width: 0;
    }
    .page-info__additional-info {
        width: 100%;
    }
    .page-info__main-info {
        width: 100%;
    }
    .page-info__values {
        width: 100%;
    }
}

@include landscape-phone() {
    .page-info__interval1 {
        width: 100%;
    }
    .page-info__interval2 {
        width: 100%;
    }
}