.header__block {
    display: flex;
    z-index: 2;
    background: #106CC8;
    padding-left: 1em;
}

.header-block--open {
    display: flex;
    position: absolute;
    z-index: 2;
    background: #106CC8;
    padding-left: 1em;
}