@import '../../mixins.scss';
.form-search {
    display: flex;
    flex-direction: row;
    margin: 2em 0px;
}

.form-search__input {
    width: 40%;
    outline: none;
    padding: 0.1em 0.5em;
    margin-left: auto;
    border: 2px solid #9D9D9D;
    border-top: none;
    border-left: none;
    transition: border 1s;
    border-right: none;
    font-size: 1.5em;
}

.form-search__input:hover {
    border: 2px solid #7F7F7F;
    border-top: none;
    border-left: none;
    border-right: none;
}

.form-search__input:focus {
    border: 2px solid #7F7F7F;
    border-top: none;
    border-left: none;
    border-right: none;
}

.form-search__search {
    background: url(./images/search.png);
    margin-right: auto;
    width: 30px;
    height: 30px;
    z-index: -1;
}

@include tv-wide() {
    .form-search__input {
        width: 25%;
    }
}

@include tv() {
    .form-search__input {
        width: 30%;
    }
}

@include desktops-wide() {
    .form-search__input {
        width: 40%;
    }
}

@include desktops() {
    .form-search__input {
        width: 55%;
    }
}

@include tablets() {
    .form-search__input {
        width: 60%;
    }
}

@include landscape-phone() {
    .form-search__input {
        width: 70%;
    }
}

@include portrait-phone() {
    .form-search__input {
        width: 80%;
    }
}