@mixin media-max($property) {
    @media (max-width: $property) {
        @content;
    }
}

@mixin media-min($property) {
    @media (min-width: $property) {
        @content;
    }
}

@mixin portrait-phone() {
    @media (max-width: 575.98px) {
        @content;
    }
}

@mixin landscape-phone() {
    @media (max-width: 767.98px) {
        @content;
    }
}

@mixin tablets() {
    @media (max-width: 991.98px) {
        @content;
    }
}

@mixin desktops() {
    @media (max-width: 1199.98px) {
        @content;
    }
}

@mixin desktops-wide() {
    @media (max-width: 2009px) {
        @content;
    }
}

@mixin tv() {
    @media (max-width: 2417px) {
        @content;
    }
}

@mixin tv-wide() {
    @media (min-width: 2417.1px) {
        @content;
    }
}