.App {
    height: 100%;
    width: 100%;
}

header,
footer {
    width: 100%;
    background: #106CC8;
}

.main,
.header {
    // width: 80%;
    margin: 0 auto;
}

.header {
    height: 50px;
    display: flex;
    margin: 0 auto;
}

.main__filter {
    margin: auto;
}