@import '../../mixins.scss';
.block-filter__input[type=range] {
    width: 100%; // flex-shrink: ;
}

.block-filter__input {
    appearance: none;
    height: 20px;
    background-color: #C1C1C1;
    outline: none;
    height: 4px;
    border-radius: 1px;
}

.block-filter__input::-webkit-slider-thumb {
    appearance: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #106CC8;
}

.main__filterAlcohol {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 1em 0px;
}

.main__title {
    font-size: 1.3em;
}

.main__value {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.main__value-number {
    width: 2em;
}

@include tv-wide() {
    .main__filter {
        width: 25%;
    }
}

@include tv() {
    .main__filter {
        width: 30%;
    }
}

@include desktops-wide() {
    .main__filter {
        width: 40%;
    }
}

@include desktops() {
    .main__filter {
        width: 55%;
    }
}

@include tablets() {
    .main__filter {
        width: 60%;
    }
}

@include landscape-phone() {
    .main__filter {
        width: 70%;
    }
}

@include portrait-phone() {
    .main__filter {
        width: 80%;
    }
    .main__title {
        width: 100%;
        text-align: center;
        margin: 0.5em 0;
    }
    .main__value {
        width: 90%;
        margin: auto;
    }
}